<app-search-input [placeholder]="'Search People'" (outPutTerm)="searchPeople($event)"></app-search-input>
<table class="table table-hover">

  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Aliases</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>
        {{ person.first_name }}
      </td>
      <td>
        {{ person.last_name }}
      </td>
      <td>
        {{ person.aliases }}
      </td>
      <td>
          <a [routerLink]="['/people', person.id]" routerLinkActive="router-link-active"  class="btn btn-light">
            <i class="fa fa-eye"></i>
          </a>
      </td>
    </tr>
  </tbody>
</table>